* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* cart page css start  */
.page-id-68 #content {
  background: url("https://nextgenlearning.org.uk/wp-content/uploads/2024/02/Group-1000004504-1-convert.io_.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.page-id-68 .content {
  background: transparent;
}
table.woocommerce-cart-form__contents {
  background: #f5f6ffb2;
  border-radius: 15px;
  padding: 35px 32px;
}
table.woocommerce-cart-form__contents input.qty {
  background-color: transparent;
  border: 0;
}
table.woocommerce-cart-form__contents th,
table.woocommerce-cart-form__contents span.woocommerce-Price-amount.amount,
table.woocommerce-cart-form__contents input.qty {
  color: #2b354e;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}
table.woocommerce-cart-form__contents td.product-name {
  color: #2b354e;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}
table.woocommerce-cart-form__contents th {
  padding-bottom: 22px !important;
}
.woocommerce-cart table.cart td.actions {
  padding-top: 30px;
}
.woocommerce-cart table.cart td.actions > .button {
  border: 1px solid #70479b;
  background: #70479b;
  color: #ffffff;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  height: 41px;
  padding: 10px 20px;
  border-radius: 23px;
  display: flex;
}
.woocommerce-cart table.cart td.actions > .button:hover {
  background: #fe7e41;
  border: 1px solid #fe7e41;
}
.woocommerce-cart table.cart td.actions .coupon .input-text {
  max-width: 222px;
  height: 41px;
  border: 1px solid #e6e6e6;
  padding: 15px 19px 16px;
  border-radius: 20.5px;
  margin: 0 12px 0 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #2b354e;
}
.woocommerce-cart table.cart td.actions .coupon .input-text::placeholder {
  color: #64748b99;
}
.woocommerce-cart table.cart td.actions .coupon .button {
  border: 1px solid #fe7e41;
  color: #fe7e41;
  display: flex;
  height: 41px;
  padding: 10px 20px;
  border-radius: 23px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
}
.woocommerce-cart table.cart td.actions .coupon .button:hover {
  background: #fe7e41;
  color: #fff;
}
.special-offer-products-container .special-products-wrapper {
  width: 100%;
  max-width: 742px;
  margin-bottom: 50px;
}
.special-offer-products-container .special-offer-title {
  margin: 40px 0 20px;
}
.special-offer-products-container .special-offer-title h2 {
  margin: 0;
  color: #534c99;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 29px;
}
.special-offer-products-container .special-products-single {
  background: #f8f8f8;
  border-radius: 15px;
  padding: 21px 26px;
}
.special-offer-products-container input.check_to_cart[type="checkbox"] {
  cursor: pointer;
  width: 60px;
  background: transparent;
  border: 3px solid #c5c5c5;
}
.special-offer-products-container input.check_to_cart[type="checkbox"]::before {
  width: 16px;
  height: 16px;
  left: 3px;
  background: #c5c5c5;
  box-shadow: none;
}
.special-offer-products-container input.check_to_cart:checked[type="checkbox"] {
  background: transparent;
  border: 3px solid #43bc91;
}
.special-offer-products-container
  input.check_to_cart:checked[type="checkbox"]::before {
  background: #43bc91;
  left: 35px;
}
.special-offer-products-container .special-product-name {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: #2b354e;
}
.special-offer-products-container .special-product-name del {
  font-family: "Inter", sans-serif;
}
.special-offer-products-container .special-product-name strong {
  font-weight: 600;
}
.woocommerce-cart .cart-collaterals {
  background: #000243;
  padding: 24px;
  border-radius: 15px;
  color: #fff;
  overflow: hidden;
  margin-bottom: 20px;
}
.woocommerce-cart .cart-collaterals .cart_totals h2 {
  margin: -25px -25px 0;
  padding: 24px;
  text-transform: capitalize;
  font-weight: 600;
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  background: #ffffff21;
  color: #fff;
}
.woocommerce-cart .cart-collaterals .cart_totals table th,
.woocommerce-cart .cart-collaterals .cart_totals table td {
  color: #fff;
  padding: 20px 0px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.woocommerce-cart .cart-collaterals .cart_totals table td span.amount {
  font-weight: 800;
  line-height: 24px;
}
.woocommerce-cart .cart-collaterals .cart_totals table td span {
  color: #fff !important;
}
.woocommerce-cart .cart-collaterals .cart_totals table td p,
.woocommerce-cart .cart-collaterals .cart_totals table td small {
  color: #fff;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  margin: 0;
}
.woocommerce-cart .cart-collaterals a.checkout-button {
  border: 1px solid #fe7e41 !important;
  background: #f26d21 !important;
  color: #fff !important;
  width: 100%;
  height: 48px;
  border-radius: 26px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 22px 0 0;
}
.woocommerce-cart .cart-collaterals a.checkout-button:hover {
  background: transparent !important;
  color: #f26d21 !important;
}
.woocommerce-cart-form .woocommerce-message {
  border-top-color: #000243;
}
.woocommerce-cart-form .woocommerce-message a.button {
  border: 1px solid #70479b !important;
  background: #70479b !important;
  color: #ffffff !important;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  height: 41px;
  padding: 10px 20px;
  border-radius: 23px;
  display: flex;
}
.woocommerce-cart-form .woocommerce-message a.button:hover {
  background: #fe7e41 !important;
  border-color: #fe7e41 !important;
}
.woocommerce-cart-form .woocommerce-message:before {
  color: #000243;
}
@media (max-width: 767px) {
  table.woocommerce-cart-form__contents {
    background: #f5f6ffb2;
    border-radius: 15px;
    padding: 10px;
  }
  table.woocommerce-cart-form__contents td.product-name {
    font-size: 10px;
    line-height: 12px;
  }
  table.woocommerce-cart-form__contents th,
  table.woocommerce-cart-form__contents span.woocommerce-Price-amount.amount,
  table.woocommerce-cart-form__contents input.qty {
    font-size: 12px;
  }
  .special-offer-products-container .special-products-single {
    padding: 10px;
  }
  .special-offer-products-container .special-product-name {
    font-size: 14px;
    width: 80%;
  }
}

/* custom cart box css  */
.a2n-cart_box {
  background: #000243;
  padding: 37px 15px;
  text-align: center;
  border-radius: 15px;
}
.a2n-cart_box .a2n_start h3 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 37px;
  text-align: center;
  color: #ffffff;
  margin: 16px 0 25px;
}
.a2n_c {
  color: #ffe39e;
}
.a2n-cart_box .a2n_end {
  border-top: 1px solid #ebebeb80;
}
.a2n-cart_box .a2n-icon__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 25px 0 18px;
}
.a2n-cart_box .a2n-icon__list h4 {
  color: #fff;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
.a2n-cart_box .a2n-image__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 9px;
  row-gap: 18px;
}
/* cart page css end  */
